{% load i18n %}{% autoescape off %}
{% blocktrans %}
<p>
    You're receiving this email because you've been invited to join {{ organization_name }} organization in CVAT at {{ site_name }}.
</p>
{% endblocktrans %}

{% trans "Please go to the following page and finish creating your account to accept the invitation:" %}
{% block setup_link %}
<p>
<a href="{{ protocol }}://{{ domain }}/auth/register/invitation?email={{ email }}&key={{ invitation_key }}">{{ protocol }}://{{ domain }}/auth/register/invitation?email={{ email }}&key={{ invitation_key }}</a>
</p>
{% endblock %}

{% trans "Thanks for using our site!" %}

<p>
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
</p>

{% endautoescape %}
