Cython>=0.27.3 # include before pycocotools
GitPython>=2.1.11
lxml>=4.4.1
matplotlib>=3.1.1
opencv-python>=4.1.0.25
Pillow>=6.1.0
pycocotools>=2.0.0
PyYAML>=5.1.1
requests>=2.20.0
tensorboard>=1.14.0
tensorboardX>=1.8
