attrs>=19.3.0
Cython>=0.27.3 # include before pycocotools
defusedxml>=0.6.0
GitPython>=3.0.8
lxml>=4.4.1
matplotlib>=3.3.1
opencv-python-headless>=4.1.0.25
Pillow>=6.1.0
pycocotools>=2.0.0
PyYAML>=5.3.1
scikit-image>=0.15.0
tensorboardX>=1.8
