{{ $links := .Site.Params.links }}
<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-2 text-xs-center order-sm-2">
        {{ with $links }}
        {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-6 col-sm-2 text-right text-xs-center order-sm-3">
        {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 col-sm-8 text-center order-sm-2">
        {{ with .Site.Params.intel_privacy_notice }}<small class="mr-1"><a href="{{ . }}">{{ T "footer_intel_privacy_notice" }}</a></small>{{ end }}
        |
        {{ with .Site.Params.intel_terms_of_use }}<small class="mx-1"><a href="{{ . }}">{{ T "footer_intel_terms_of_use" }}</a></small>{{ end }}
        |
        {{ with .Site.Params.cvat_terms_of_use }}<small class="ml-1"><a href="{{ . }}">{{ T "footer_cvat_terms_of_use" }}</a></small>{{ end }}
        <br/>
        <div class="footer-disclaimer text-white ">
          <small>Intel technologies may require enabled hardware, software or service activation. // No product or component can be absolutely secure. // Your costs and results may vary. // Performance varies by use, configuration and other factors. // See our complete legal <u><a href="https://edc.intel.com/content/www/us/en/products/performance/benchmarks/overview/?r=219444055">Notices and Disclaimers</a></u>. // Intel is committed to respecting human rights and avoiding complicity in human rights abuses. See Intel’s <a href="https://www.intel.com/content/www/us/en/policy/policy-human-rights.html"><u>Global Human Rights Principles</u></a>. Intel’s products and software are intended only to be used in applications that do not cause or contribute to a violation of an internationally recognized human right.</small>
      </div>
  {{ if not .Site.Params.ui.footer_about_disable }}
    {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
  {{ end }}
      </div>
    </div>
  </div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" rel="noopener noreferrer" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
