{{ $links := .Site.Params.links -}}
<footer class="bg-dark py-5 row d-print-none" style="min-height: 0">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- LEFT: copyright + links -->
      <div class="col-12 col-lg-8 d-flex align-items-center justify-content-start">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">© {{ now.Year }} CVAT.ai Corporation.</li>
          <li class="list-inline-item me-4"><a class="text-white" href="https://www.cvat.ai/terms-of-use">Terms of Service</a></li>
          <li class="list-inline-item me-4"><a class="text-white" href="https://www.cvat.ai/privacy">Privacy Policy</a></li>
          <li class="list-inline-item me-4"><a class="text-white" href="https://www.cvat.ai/refund-policy">Refund Policy</a></li>
          <li class="list-inline-item me-4"><a class="text-white" href="https://www.cvat.ai/fair-usage-policy">Fair Usage Policy</a></li>
          <li class="list-inline-item me-4"><a class="text-white" href="https://status.cvat.ai">Status</a></li>
        </ul>
      </div>

      <!-- RIGHT: social icons -->
      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end justify-content-center mt-3 mt-lg-0">
        {{ with $links }}
        {{ with index . "developer" }}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ partial "cookie-consent.html" . }}
</footer>

{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-bs-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" rel="noopener noreferrer" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}