{{- with .Page -}}
  {{- $products := .Params.products -}}
  {{- if $products -}}
  <div class="product-tags-box">
    <span class="product-tags-label">Relevant for:</span>
      {{ range $products }}
        {{ $p := . }}
        {{ if eq $p "online" }}
          <a href="/docs/products/online/" class="product-tag">CVAT Online</a>
        {{ end }}
        {{ if eq $p "enterprise" }}
          <a href="/docs/products/enterprise/" class="product-tag">CVAT Enterprise</a>
        {{ end }}
        {{ if eq $p "community" }}
          <a href="/docs/products/community/" class="product-tag">CVAT Community</a>
        {{ end }}
      {{ end }}
  </div>
  {{- end -}}
{{- end -}}
