# Project Specific
/data/
/models/
/share/
/static/
/db.sqlite3
/.env
/keys
/logs
/profiles
/ssh/*
!/ssh/README.md
node_modules
/Mask_RCNN/
/letsencrypt-webroot/

# Ignore temporary files
docker-compose.override.yml
__pycache__
*.pyc
._*
.coverage

# Ignore development npm files
node_modules

# Ignore npm logs file
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
