# Project Specific
/data/
/share/
/static/
/db.sqlite3
/.env
/keys
/logs
/components/openvino/*.tgz
/profiles
/ssh/*
!/ssh/README.md
node_modules


# Ignore temporary files
docker-compose.override.yml
/.vscode
__pycache__
*.pyc
._*

# Ignore development npm files
package-lock.json
node_modules

.DS_Store
