# Project Specific
/data/
/share/
/static/
/db.sqlite3
/.env
/keys
/logs
/components/openvino/*.tgz
/profiles
/ssh/*
!/ssh/README.md


# Ignore temporary files
docker-compose.override.yml
/.vscode
__pycache__
*.pyc
._*
