{
    "all": true,
    "compact": false,
    "extension": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx"
    ],
    "exclude": [
        "**/3rdparty/*",
        "**/tests/*"
    ],
    "parser-plugins": [
        "typescript"
    ]
}
