<!DOCTYPE html>
    <body>
        <h1>CVAT terms of use</h1>
        <p>
            PLEASE READ THE FOLLOWING TERMS CAREFULLY. IF YOU CLICK TO ACCEPT THIS AGREEMENT, DOWNLOAD,
            OR INSTALL THE CVAT SOFTWARE, YOU ARE AGREEING TO BE LEGALLY BOUND BY THIS AGREEMENT
            IN ADDITION TO ANY OTHER TERMS PROVIDED. IF YOU DO NOT AGREE TO THESE TERMS, DO NOT USE
            THE CVAT SOFTWARE AND DESTROY ALL COPIES IN YOUR POSSESSION.
        </p>
        <p>
            You understand and acknowledge that you are responsible for your use of the CVAT Software
            and any content which you may alter with use of the CVAT Software.
        </p>
        <p>
            You further understand and acknowledge that any content you may elect to use  may be subject to privacy,
            data and intellectual property rights and that you are responsible to your compliance with such laws and regulations.
        </p>
    </body>
</html>