.dashboard-content {
  width: 1024px;
  min-height: calc(100vh - 64px - 64px);
  margin: 0 auto;

  .dashboard-content-сard {
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    border-radius: 3px;
    background: white;

    &__header {
      text-align: center;
    }

    &__content {

      .card-cover {

        img {
          max-width: 300px;
        }
      }

      .card-actions {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        button {
          min-width: 200px;
        }
      }

      .card-jobs {

      }
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 64px - 64px);
}
