cvat:
  backend:
    defaultStorage:
      accessModes:
      - ReadWriteOnce
    server:
      additionalVolumeMounts:
      - mountPath: /home/django/share
        name: cvat-backend-data
        subPath: share
      additionalEnv:
        - name: DJANGO_SETTINGS_MODULE
          value: cvat.settings.testing_rest
    worker:
      additionalEnv:
      - name: DJANGO_SETTINGS_MODULE
        value: cvat.settings.testing_rest
      annotation:
        replicas: 0
      chunks:
        replicas: 0
      consensus:
        replicas: 0
      export:
        replicas: 0
      import:
        replicas: 0
      qualityreports:
        replicas: 0
      webhooks:
        replicas: 1
      utils:
        replicas: 1
        additionalVolumeMounts:
        - mountPath: /home/django/share
          name: cvat-backend-data
          subPath: share
        extraArgs:
        - "annotation"
        - "chunks"
        - "consensus"
        - "export"
        - "import"
        - "quality_reports"

    # Images are already present in the node
    imagePullPolicy: Never
  frontend:
    imagePullPolicy: Never

redis:
  master:
    # The "flushall" command, which we use in tests, is disabled in helm by default
    # https://artifacthub.io/packages/helm/bitnami/redis#redis-master-configuration-parameters
    disableCommands: []

keydb:
  resources:
    requests:

traefik:
  logs:
    general:
      level: DEBUG
    access:
      enabled: true
