cvat:
  backend:
    defaultStorage:
      accessModes:
      - ReadWriteOnce
    disableDistinctCachePerService: true
    server:
      additionalVolumeMounts:
      - mountPath: /home/django/share
        name: cvat-backend-data
        subPath: share
      additionalEnv:
        - name: DJANGO_SETTINGS_MODULE
          value: cvat.settings.testing_rest
    worker:
      import:
        additionalVolumeMounts:
        - mountPath: /home/django/share
          name: cvat-backend-data
          subPath: share
      chunks:
        replicas: 1
        additionalVolumeMounts:
        - mountPath: /home/django/share
          name: cvat-backend-data
          subPath: share
    utils:
      additionalEnv:
        - name: DJANGO_SETTINGS_MODULE
          value: cvat.settings.testing_rest
    # Images are already present in the node
    imagePullPolicy: Never
  frontend:
    imagePullPolicy: Never

redis:
  master:
    # The "flushall" command, which we use in tests, is disabled in helm by default
    # https://artifacthub.io/packages/helm/bitnami/redis#redis-master-configuration-parameters
    disableCommands: []

keydb:
  resources:
    requests:

traefik:
  logs:
    general:
      level: DEBUG
    access:
      enabled: true

