.tasks-header {
  display: flex;
  align-items: center;
  width: 1024px;
  height: 90px;
  line-height: initial;
  margin: 0 auto;
  padding: 0;
  background-color: #f0f2f5;

  &__logo {
    font-size: 20px;

    .logo {
      margin: 0;
      color: black;
    }
  }

  &__search {
    text-align: center;

    .search {
      max-width: 300px;
    }
  }

  &__actions {
    text-align: right;

    .action:not(:nth-child(1)) {
      margin-left: 8px;
    }

    .action {
      width: 180px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
