/*Increased left padding on the sidebar of documentation*/

.td-sidebar-nav__section-title .td-sidebar-nav__section {
    padding-left: 0.3rem;
}

/*Main documentation page*/

#docs .td-box .row {
    padding-top: 5rem;
}

/*Footer*/

.footer-disclaimer {
    font-size: .83rem;
    line-height: 1.25;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.container-fluid footer {
    min-height: inherit;
    padding-bottom: .5rem !important;
    padding-top: 2rem !important;
}