allure-pytest==2.14.2
av==16.0.1
pytest==9.0.3  # https://github.com/smarie/python-pytest-cases/issues/385
pytest-cases==3.10.1
pytest-timeout==2.4.0
pytest-cov==7.1.0
pytest-xdist==3.8.0
requests==2.33.0
deepdiff==8.6.2
boto3==1.35.95
Pillow==12.3.0
python-dateutil==2.8.2
pyyaml==6.0.3
numpy==2.3.2; python_version >= "3.14"
numpy==2.0.0; python_version < "3.14"
librosa==0.11.0
