--index-url https://download.pytorch.org/whl/nightly/cu128
--extra-index-url https://pypi.org/simple
# Nightly PyTorch (CUDA 12.8)
torch
torchvision
# Common base dependencies for all functions
numpy
