.mat-dialog-content{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.h1 {
    font-size: 1.4em;
}

.h2 {
    font-size: 1.2em;
}

.semiBold {
    font-family: BarlowSemiCondensed-SemiBold;
}

.regular {
    font-family: BarlowSemiCondensed-Regular;
}
