<mat-dialog-content>
<div style="text-align: center;"><label class="semiBold h1" style="text-align: center;">Task Configuration</label></div>
<form id="dashboardCreateContent" class="modal-content" autocomplete="on" onsubmit="return false">
  <table style="width: 100%; text-align: left;">
    <tr>
        <td style="width: 25%"> <label class="regular h2"> Name: </label> </td>
        <td> <input type="text" id="dashboardNameInput" class="regular" style="width: 90%"/> </td>
    </tr>
    <tr>
        <td> <label class="regular h2"> Labels: </label> </td>
        <td> <input type="text" id="dashboardLabelsInput" class="regular" style="width: 90%" title='
Example:
car @select=color:blue,red,black ~checkbox=parked:true
@text=plate:"" @select=model:volvo,mazda,bmw
~radio=quality:good,bad

Specification:
<prefix>checkbox=id:true/false
<prefix>radio=id:name1,name2,...
<prefix>number=id:min,max,step
<prefix>text=id:"default value"
<prefix>select=id:value1,value2,...

<prefix> can be @ for unique properties and ~ for properties
which can change its value during lifetime of the object.
Default value for all elements is the first value after ":".

For "select" and "radio" types the special value is available: "__undefined__".
Specify the value FIRST if the attribute should be annotated explicitly.
Example: @select=race:__undefined__,skip,asian,black,caucasian,other'/>
   </td>
   </tr>
   <tr>
        <td> <label class="regular h2"> Bug Tracker: </label> </td>
        <td> <input type="text" id="dashboardBugTrackerInput" class="regular" style="width: 90%" placeholder="Please specify full URL"/> </td>
    </tr>
    <tr>
        <td> <label class="regular h2"> Source: </label> </td>
        <td>
            <input id="dashboardLocalSource" type="radio" name="sourceType" value="local" checked=true/> <label for="dashboardLocalSource" class="regular h2" for="localSource"> Local </label>
            <br> <input id="dashboardShareSource" type="radio" name="sourceType" value="share"/> <label for="dashboardShareSource" class="regular h2" for="shareSource"> Share </label>
        </td>
    </tr>
    <tr>
      <td>
        <label class="regular h2"> Z-Order </label>
      </td>
    <td>
        <input type="checkbox" id="dashboardZOrder"/>
    </td>
  </tr>

    <tr>
            <td>
                <label class="regular h2"> Overlap Size </label>
            </td>
            <td>
                <input type="number" id="dashboardOverlap" class="regular" max="50000" min="0" value="0" disabled=true/>
                <input type="checkbox" id="dashboardCustomOverlap" title="Custom overlap size"/>
            </td>
        </tr>
        <tr>
            <td>
                <label class="regular h2"> Segment Size </label>
            </td>
            <td>
                <input type="number" id="dashboardSegmentSize" class="regular" max="50000" min="100" value="5000" disabled=true/>
                <input type="checkbox" id="dashboardCustomSegment" title="Custom segment size"/>
            </td>
        </tr>
        <tr>
            <td>
                <label class="regular h2"> Image Quality </label>
            </td>
            <td>
                <input type="number" id="dashboardImageQuality" class="regular" style="width: 4.5em;" max="95" min="1" value="50" disabled=true/>
                <input type="checkbox" id="dashboardCustomQuality" title="Custom image quality"/>
            </td>
        </tr>
        <tr>
            <td>
                <label class="regular h2"> Start Frame </label>
            </td>
            <td>
                <input type="number" id="dashboardStartFrame" class="regular" style="width: 4.5em;" min="0" value=0 disabled=true/>
                <input type="checkbox" id="dashboardCustomStart" title="Custom start frame"/>
            </td>
        </tr>
        <tr>
            <td>
                <label class="regular h2"> Stop Frame </label>
            </td>
            <td>
                <input type="number" id="dashboardStopFrame" class="regular" style="width: 4.5em;" min="0" value=0 disabled=true/>
                <input type="checkbox" id="dashboardCustomStop" title="Custom stop frame"/>
            </td>
        </tr>
        <tr>
            <td>
                <label class="regular h2"> Frame Filter </label>
            </td>
            <td>
                <input type="text" id="dashboardFrameFilter" class="regular" style="width: 4.5em;" title="Currently only support 'step=K' filter expression." disabled=true/>
                <input type="checkbox" id="dashboardCustomFilter" title="Custom frame filter"/>
            </td>
        </tr>
</table>
<div style="text-align: left;">
          <div>
              <button id="dashboardSelectFiles" class="regular h2"> Select Files </button>
              <label id="dashboardFilesLabel" class="regular h2" style="margin-left: 10px"> No Files </label>
              <input id="dashboardLocalFileSelector" type="file" style="display: none" multiple/>
          </div>
          <div class="hidden">
              <label for="dashboardRemoteFileInput" class="regular h2"> URLs: </label><br>
              <textarea id="dashboardRemoteFileInput" rows="5" placeholder="One URL per line" style="width: 100%;"></textarea>
          </div>
      </div>
</form>


            <mat-dialog-actions style="width: 100%; height: 14%; padding-top: 10px;">
              <div style="float: right; width: 35%; height: 50px;">
              <button mat-button mat-dialog-close id="dashboardCancelTask" class="regular h2" >Cancel</button>
              <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
              <button mat-button [mat-dialog-close]="true" id="dashboardSubmitTask" class="regular h2">Submit</button>
              </div>
              <div style="float: left; height: 50px;  overflow: auto; width: 100%; height: auto; word-break: break-word;">
                  <label id="dashboardCreateTaskMessage" class="regular h2 selectable" style="float:left;">  </label>
              </div>
            </mat-dialog-actions>
</mat-dialog-content >
