body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// TODO: remove when modals -> pages
.crud-modal {
  width: 90% !important;
}

.spinner {
  .ant-spin-spinning {
    max-height: 100% !important;
    background: white !important;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 90px - 64px - 46px);

  &.ant-empty {
    font-size: 16px;
    line-height: 19px;

    .ant-empty-image {
      margin-bottom: 30px;
    }

    .ant-empty-description {
      font-size: 20px;
      font-weight: bold;
    }

    .ant-empty-footer {
      margin-top: 10px;

      .ant-btn {
        display: block;
        margin: auto;
        height: auto;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
