{% load i18n %}{% autoescape off %}
{% blocktrans %}
<p>
  You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
</p>
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
<p>
<a href="{{ protocol }}://{{ domain }}/auth/password/reset/confirm?uid={{ uid }}&token={{ token }}">{{ protocol }}://{{ domain }}/auth/password/reset/confirm?uid={{ uid }}&token={{ token }}</a>
</p>
{% endblock %}
<p>
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
</p>

{% trans "Thanks for using our site!" %}

<p>
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
</p>

{% endautoescape %}
