// SPDX-License-Identifier: MIT

@import 'base';

.cvat-annotation-counts-page {
    height: 100%;
    overflow: auto;
    padding: $grid-unit-size * 2 0 $grid-unit-size * 4;
}

.cvat-annotation-counts-title {
    margin-top: $grid-unit-size * 2;
}

.cvat-annotation-counts-summary,
.cvat-annotation-counts-unused {
    display: block;
    margin: $grid-unit-size * 2 0;
}

.cvat-annotation-counts-shape-type-switch {
    display: inline-flex;
    align-items: center;
    gap: $grid-unit-size;
    margin-bottom: $grid-unit-size * 2;
    cursor: pointer;
}

.cvat-annotation-counts-chart {
    position: relative;
    width: 100%;
}
