.dashboard-header {
  min-width: 1024px;
  background: #001529;

  &__logo {
    height: 64px;

    .logo {
      color: white;
    }
  }
  &__search {
    text-align: center;

    .search {
      max-width: 300px;
    }
  }
  &__actions {
    text-align: right;

    .action:not(:nth-child(1)) {
      margin-left: 8px;
    }

    .action {
      width: 100px;
    }
  }

  .logo, .search, .action {
    vertical-align: middle;
  }
}
