@import '../export-backup/styles';

.consensus-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ant-btn-default {
    background-color: #1890ff;
    border: none;
  }
}

.custom-modal-center-title {
  .ant-modal-header {
    text-align: center;
  }

  .ant-modal-title {
    flex: 1;
    text-align: center;
  }
}

