### {{ config.categories | join('|') }} <!-- pick one -->

- Describe your change here...
  (<https://github.com/cvat-ai/cvat/pull/XXXX>)
A very simple/naive addition of functional-gpu.yaml to enable mmpose on gpu. 2024/07/08
