
<div id={{task.id}} class="dashboardItem">

  <div class="dashboardTitleWrapper">
    <label class="semiBold h1 selectable"> {{task.name}} </label>
  </div>

  <div class="dashboardTitleWrapper">
    <label class="regular selectable"> {{task.status}} </label>
  </div>
  <div class="dashboardTaskIntro" [style.background-image]="'url('+imgUrl+task.id+'/frames/0)'">
  </div>

  <div class="dashboardButtonsUI">
    <select class="regular dashboardButtonUI" style="text-align-last: center;">
      Dump Annotation
    <option selected="" disabled=""> Dump Annotation </option>
    <option class="bold">CVAT XML 1.1 for images</option>
    <option>CVAT XML 1.1 for videos</option>
    <option>PASCAL VOC ZIP 1.0</option>
    <option>YOLO ZIP 1.0</option>
    <option>COCO JSON 1.0</option>
    <option>MASK ZIP 1.0</option>
    <option>TFRecord ZIP 1.0</option>
  </select>

  <select class="regular dashboardButtonUI" style="text-align-last: center;">
    Upload Annotation <option selected="" disabled="">
      Upload Annotation </option>
      <option>CVAT XML 1.1</option>
      <option>PASCAL VOC ZIP 1.0</option>
      <option>YOLO ZIP 1.0</option>
      <option>COCO JSON 1.0</option>
      <option>TFRecord ZIP 1.0</option>
    </select>

    <button class="regular dashboardButtonUI"> Update Task </button>
    <button (click)="openDeleteModal(deleteModalTemplate)" class="regular dashboardButtonUI"> Delete Task </button>

    <ng-template #deleteModalTemplate>
        <label class="regular templateMessage selectable">The task will be removed. Are you sure?</label>

          <div style="text-align: center;">
          <button mat-button mat-dialog-close class="regular h2 templateDisagreeButton" style="margin-top: 20px; margin: 30px" > Cancel </button>
          <button (click)="delete(task.id)" mat-button mat-dialog-close class="regular h2 templateAgreeButton" style="margin-top: 20px; margin: 30px;"> Ok </button>
          </div>
    </ng-template>

  </div>
</div>
