+++
title = "CVAT"
linkTitle = "CVAT"

+++


{{< blocks/cover title="Computer Vision Annotation Tool (CVAT)" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/openvinotoolkit/cvat">
		Source <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">CVAT slogan!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="primary" >}}


{{% blocks/feature icon="fa-server" title="Working on a cluster of servers" %}}
CVAT is a ready-made business solution with the ability to install on a cluster of servers
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-file-code" title="Many formats for export and import annotation " url="/docs/#supported-annotation-formats" %}}
A large number of formats for import and export markings.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brain" title="AI annotation tools" %}}
CVAT has many tools for annotation including AI tools
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{% blocks/lead color="dark" %}}

![CVAT demo](/images/demo-page.png)

This is an online demo with the latest version of the annotation tool. Try it online without local installation. Only own or assigned tasks are visible to users.

<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://cvat.org">
		Try it now <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/lead %}}


{{< blocks/section >}}

<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fab fa-stack-overflow" title="StackOverflow" url="https://stackoverflow.com/search?q=%23cvat" %}}
Tag on StackOverflow *
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/openvinotoolkit/cvat" %}}
We do a [Pull Request](https://github.com/openvinotoolkit/cvat/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitter" title="Follow us on Gitter!" url="https://gitter.im/opencv-cvat/public" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
