# Copyright (C) CVAT.ai Corporation
#
# SPDX-License-Identifier: MIT

cvat_sdk>=2.42
huggingface_hub
opencv-python-headless
sam-2 @ git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4
